/** import font from Google CDN */
@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');



/* html, body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-emphasis-color: #e90707;
} */


.btn{
 background-color: #ee962a;
 color: #0f0f0f;
  
}


.main-body, .card{
    background-color: #a8c1bd;
}


/* .logo{
    display: flex;
    width: 20%;
    height: auto;


} */


.top-nav{
    background-color: #00606d !important; 
    color: #fff !important;
      
}

/* .top-nav-text{
   color: #ee962a !important;
} */



/* .m1-top{
display: inline-block;
align-content: center;
border: 3px solid black;

} */

/* .div-1 img{
    display: block;
    align-content: end;
    border: 1px solid black;
}    */



/* .img-pic{
width: 35%;
margin-right: 1% ;
padding: 2rem;
} */
     
.mb{
    
    margin-bottom: 1% !important;
    padding: 1rem !important;
}


.footer{
 position: fixed;
 bottom: 0;
 display: flex;
 padding: 1rem 1rem;
 width: 100%;
 background-color:#beb9b5;   
}

.footer-text{
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;

}

